.container {
    min-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;


    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    justify-content: center;

}

main {
    flex-grow: 1;
}

body {
    font-family: var(--font-family);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.modal-nav-soc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100%;
    align-items: center;
    padding-top: 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

logo-icon {
    margin-bottom: -6px;
    width: 21px;
    height: 21px;
    margin-right: 4px;
}

.icon-menu {
    stroke-width: 2px;
    stroke: #111;
}

.logo-icon {
    fill: #fcf1e0;
    stroke-width: 1.8px;
    stroke: #fd9222;
}

.logo-wrap {
    display: flex;
    align-items: center;
}

.header {
    padding-top: 20px;
    padding-bottom: 14px;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .header-button {
    stroke-width: 2px;
    stroke: #111;


}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;


    }

}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;

    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .logo-icon {
        margin-bottom: -6px;
        width: 21px;
        height: 21px;
        margin-right: 4px;

    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


:root {
    --text-decoration: none;
    --font-family: "Montserrat",
        sans-serif;

    --main: #111111;
    --accent: #FD9222;
    --background: #FAFAFA;
    --cards: #ffffff;
    --violet: #1E1823;

    -font-synthesis: none;
    -text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.logo-icon {
    stroke-width: 2px;
    stroke: var(--accent);
    fill: transparent;

}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;

    }

    .logo-icon {
        margin-left: 4px;
        width: 24px;
        height: 24px;

    }
}

.logo_simply {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.03em;
    color: var(--black);
    text-decoration: none;
}

.logo_chocolate {
    font-family: var(--font-family);
    font-style: normal;
    text-decoration: none;
}

.logo_simply,
.logo_chocolate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_simply,
.logo_chocolate {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    align-items: center;
}

.soc_nets {
    display: none;
}

.nav-list {
    display: none;
}

.header-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.header-button-svg {
    stroke-width: 2px;
    stroke: #111;
}

.navi-link-menu:hover,
.navi-link-menu:focus {
    color: var(--accent);

}

.soc_nets_link:hover,
.soc_nets_link:focus {
    color: var(--accent);
    transition: color 0.3s;
    border: 1px solid rgba(253, 146, 34, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.soc_nets_link:hover .net_icon,
.soc_nets_link:focus .net_icon {
    fill: var(--accent);

}

.net_icon {
    fill: var(--main);
    transition: fill 0.3s;
}

/* Stills for tablet */
@media only screen and (min-width: 768px) {
    .header-nav-soc-wrap {
        display: flex;
        align-items: center;
        gap: 28px;
    }

    .logo-icon {
        margin-bottom: -2px;
        margin-left: 4px;
    }

    .navigation {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-list {
        display: flex;
        justify-content: flex-end;
        gap: 2px;
        margin-left: auto;
        margin-right: 28px;
    }

    .navi-link-menu {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.02em;
        color: var(--main);
        white-space: nowrap;
    }

    .soc_nets {
        margin-left: 28px;
    }

    .navi-link-menu {
        white-space: nowrap;
    }

    .logo_simply {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .header-button {
        display: none;
    }

    .nav-item {
        position: relative;
        list-style: none;
    }

    .soc_nets_item {
        position: relative;
        list-style: none;
    }

    .soc_nets {
        display: flex;
        margin: 0;
        justify-content: space-between;
        gap: 14px;
    }

    .soc_nets_link {
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .logo_simply {
        display: flex;
        align-items: center;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {

    .container {
        max-width: 1200px;
        width: 100%;
    }

    .logo-icon {
        margin-left: 4px;
        width: 24px;
        height: 24px;
        background-image: url('./images/icon-Vector-24.svg');
    }

    .navi-link-menu {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.02em;
        color: var(--main);
        transition: color 0.3s;
    }

    .nav-item {
        position: relative;
    }

    .nav-list {
        gap: 24px;
        margin-left: auto;
        margin-right: 90px;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
    }

    .header-button {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
    }
}

.navi-link-menu:hover,
.navi-link-menu:focus {
    color: var(--accent);

}

.soc_nets_link:hover,
.soc_nets_link:focus {
    color: var(--accent);
    transition: color 0.3s;
    border: 1px solid rgba(253, 146, 34, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.soc_nets_link:hover .net_icon,
.soc_nets_link:focus .net_icon {
    fill: var(--accent);

}

.net_icon {
    fill: var(--main);
    transition: fill 0.3s;
}

/* Modal*/
.mobile-menu {
    font-family: var(--font-family);
    position: fixed;
    background-color: var(--violet);
    max-width: 220px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms visibility (0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    display: block;

}

mobile-menu {
    display: none;

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

.mobile-container {
    padding: 136px 20px 20px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mobile-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    padding: 5px;
    background-color: transparent;
    border: none;
    margin-bottom: 88px;
}

.mobile-nav-wrap {
    margin-bottom: auto;
}

.mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;

}


.mobile-messengers-list {
    display: flex;
    gap: 14px;
}

mobile-messengers-button:hover .mobile-messengers-button-svg,
mobile-messengers-button:focus .mobile-messengers-button-svg {
    opacity: 1;
}

mobile-messengers-button-svg {
    fill: #FBFBFB;
    opacity: 0.8;
}

.mobile-navigation-links {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--cards);
    list-style: none;
    text-decoration: none;
    list-style-type: none;

    padding-left: 0;
    transition: color 0.3s ease;
}



.soc_nets_link-mod {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: transparent;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc_nets-mod {
    display: flex;
    margin: 0;
    justify-content: space-between;
    gap: 14px;

    margin-right: auto;
}

.net_icon-mod {
    fill: var(--cards);
    transition: fill 0.3s;
}

.mobile-navigation-links.active {
    color: var(--accent);
}

soc_nets_link-mod:hover,
soc_nets_link-mod:focus {
    color: var(--accent);
    transition: color 0.3s;
    border: 1px solid rgba(253, 146, 34, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

soc_nets_link-mod:hover .net_icon-mod,
soc_nets_link-mod:focus .net_icon-mod {
    fill: var(--accent);

}

/* Section first */

/* Мобильная версия */
.hero-content {
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
        url(../images/chocolate_main-1x-mob.webp);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 335px;
    box-sizing: border-box;
    border-radius: 30px;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 395px;

}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero-content {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-2x-mob.webp);
    }
}

.hero-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--cards);
    position: relative;
    margin-bottom: 32px;
    max-width: 291px;
    text-align: left;
}

.hero-content {
    display: flex;
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--cards);
    margin-bottom: 20px;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}


.hero-buttons {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 14px;
    margin-bottom: 32px;

}

.btn-primary {
    background-color: var(--accent);
    color: var(--cards);
    border-radius: 100px;
    padding: 12px 28px;
    width: 120px;
    height: 41px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-secondary {
    background-color: transparent;
    display: flex;
    color: var(--cards);
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px 28px;
    width: 159px;
    height: 41px;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #fcf1e0;
    color: var(--accent);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #fcf1e0;
    color: var(--accent);
}

.hero-link-sellers {
    display: none;
}

.hero-link-scroll {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--cards);
    display: flex;
    align-items: center;
    gap: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-scroll:hover,
.hero-link-scroll:focus {
    color: var(--accent);
}

.hero-link-scroll:hover .scroll-round,
.hero-link-scroll:focus .scroll-round {
    background-color: var(--accent);
}

.hero-link-scroll:hover,
.hero-link-scroll:focus {
    fill: var(--accent);
}

.icon-scroll:hover,
.icon-scroll:focus {
    fill: var(--cards)
}

.scroll-round {
    display: inline-block;
    padding: 6px;
    background-color: #fff;
    border-radius: 50px;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-scroll {
    fill: #fd9222;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .hero {
        padding-bottom: 40px;
    }

    .hero-content {
        max-width: 704px;
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-1x-tab.webp);
        padding-top: 671px;
        padding-bottom: 40px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero-container {
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-2x-tab.webp);
    }
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 28px;
        max-width: 484px;
    }

    .hero-link-scroll:last-child {
        display: flex;
        white-space: nowrap;
        margin-left: 153px;
        justify-content: flex-end;
    }

    .hero-btn-link-wrap {
        display: flex;
        justify-content: space-between;
    }

    .hero-buttons {
        justify-content: start;
        margin-bottom: 0;
    }

    .btn-primary {
        width: 144px;
        height: 45px;
    }

    .btn-secondary {
        width: 183px;
        height: 45px;
    }

    .hero-link-scroll {
        font-size: 14px;
        line-height: 1.29;

    }

    .scroll-round {
        display: inline-block;
        padding: 8px;
        width: 38px;
        height: 38px;
    }

    .icon-scroll {
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero-link-scroll:last-child {
        display: flex;
        white-space: nowrap;
        margin-left: 388px;
        justify-content: flex-end;
    }


    .hero-content {
        max-width: 1136px;
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-1x-desk.webp);
        padding-top: 381px;
        padding-bottom: 40px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero-content {
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-1x-desk.webp);
    }
}

@media screen and (min-width: 1200px) {
    .hero-link-sellers {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 100px;
        font-weight: 600;
        font-size: 14px;
        width: 183px;
        height: 45px;
        color: var(--cards);
        box-sizing: border-box;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-link-sellers:hover,
    .hero-link-sellers:focus {
        background-color: #fcf1e0;
        color: var(--accent);
    }
}

/* 2 Sektion*/
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 38px 0;
}

.about-us-wrapper {
    padding: 20px;
}

.skills-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--cards);
}

.section-second {
    background: var(--violet);
    max-width: 100%;
}

.skills-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
    color: var(--cards);
    margin-bottom: 20px;
}

.icon-bg {
    fill: var(--accent);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 62px;
    height: 62px;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    display: flex;
}


.skills-title {
    margin-bottom: 18px;
}

.skills-text {
    margin-bottom: 20px;
}

.skills-list-item {
    margin-bottom: 20px;
    justify-content: space-between;
}


@media screen and (min-width: 767px) {
    .about-us-wrapper {
        padding: 32px;
    }

    .skills-list-item {
        width: calc((100% - 88px) / 2);
    }

    .skills-list {

        flex-direction: row;
    }

    .skills-list-item:nth-child(1) {
        margin-right: 88px;
    }
}

@media screen and (min-width: 1200px) {
    .about-us-wrapper {
        padding: 50px;
    }

    .skills-list {
        display: flex;
        flex-direction: row;
    }

    .skills-list-item {
        max-width: calc((100% - 88px * 2) / 3);
    }

    .skills-text {
        line-height: 129%;
    }
}

@media screen and (min-width: 1200px) {
    .benefits-line {
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 0px;
        height: 124px;
        margin-top: 60px;
    }

    .skills-list {
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        justify-content: space-between;

    }

    .skills-list-item:nth-child(1) {
        margin-right: 0;
    }
}

/*ingredients*/
.ingredients {
    font-family: var(--font-family);
    padding-top: 80px;
    padding-bottom: 80px;


}

.ingredients-title-wrapper {
    display: flex;
    justify-content: center;
}

.ingredients-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main);
    max-width: 283px;
    margin-bottom: 32px;

}


.ingredients-title-item {
    color: var(--accent);
}

.ingredients-list-item {
    position: relative;
    cursor: pointer;

}

.ingredients-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.arrow {
    width: 24px;
    height: 24px;
    top: 14px;
    right: 14px;
    display: flex;
    cursor: pointer;
}

.ingredients-list-item:nth-child(4n+1) {
    background-color: var(--accent);
    border-radius: 15px;
    position: relative;
    width: 335px;
    height: 270px;

}

/* Скрытие лишних карточек на мобильной версии */
@media (max-width: 767px) {
    .ingredients-list-item:nth-child(n+5) {
        display: none;

    }
}

@media (max-width: 767px) {
    .ingredients-list-item:nth-child(n+5) .arrow {
        display: none;

    }
}

@media (max-width: 767px) {
    .ingredients-list-item:nth-child(n+5) .ingredients-photo {
        display: none;

    }
}

.ingredients-list-item:nth-child(4n+1) .arrow {
    fill: transparent;
    stroke: var(--cards);
    position: absolute;
    top: 14px;
    right: 14px;

}

.picture-descr {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--cards);
    position: absolute;
    bottom: 28px;
    margin: 0;
    text-align: left;
}

.overlay-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

}

/* Вторая карточка - белый фон */
.ingredients-list-item:nth-child(2),
.ingredients-list-item:nth-child(4) {
    background-color: var(--cards);
    border: 1px solid var(--accent);
    border-radius: 15px;
    width: 335px;
    height: 270px;
}

.ingredients-list-item:nth-child(2) .picture-descr,
.ingredients-list-item:nth-child(4) .picture-descr {
    color: var(--main);
    /* Черный цвет текста */
}

/* Стрелка на второй и четвертой карточке - оранжевая */
.ingredients-list-item:nth-child(2) .arrow,
.ingredients-list-item:nth-child(4) .arrow {
    fill: transparent;
    stroke: var(--accent);
    position: absolute;
    top: 14px;
    right: 14px;
}

.ingredients-list-item:nth-child(4n+3) .arrow {
    fill: transparent;
    stroke: var(--cards);
    position: absolute;
    top: 14px;
    right: 14px;
}

.ingredients-list-item:nth-child(4n+3) {
    background: var(--violet);
    border-radius: 15px;
    position: relative;
    border-radius: 15px;
    width: 335px;
    height: 270px;
}


.ingredients-photo img {
    display: block;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 16px;
}

.picture-descr {
    padding-left: 28px;
}

@media screen and (min-width: 1200px) {
    .ingredients-list {
        width: calc((100% - 96px) / 4);
    }
}

@media screen and (min-width: 768px) {
    .ingredients-list-item:nth-child(4n+3) {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 32px;
    }

    .ingredients-list-item:nth-child(6) {
        /* Стили для 6-й карточки */
        background-color: var(--cards);
        border: 1px solid var(--accent);
        border-radius: 15px;
        position: relative;
        width: 336px;
        height: 270px;
    }

    .ingredients-list-item:nth-child(6) .arrow {
        fill: transparent;
        stroke: var(--accent);
        position: absolute;
        top: 14px;
        right: 14px;
    }

    .ingredients-list-item:nth-child(6) .picture-descr {
        color: var(--main);
        /* Черный цвет текста */
    }

    .ingredients-list-item:nth-child(4n+1) .ingredients-photo {
        padding: 32px 50px 62px 50px;
        /* Отступы сверху, справа, снизу, слева */
    }
}

/* 4 cad */
@media screen and (min-width: 1200px) {
    .ingredients-list-item:nth-child(4) {
        background-color: var(--cards);
        border: 1px solid var(--accent);
        border-radius: 15px;
        position: relative;
        width: 260px;
        height: 270px;
    }
}

@media screen and (min-width: 1200px) {
    .ingredients-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 24px;
        width: 1136px;

    }
}


@media screen and (min-width: 768px) {
    .ingredients-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
}

@media screen and (min-width: 768px) {
    .ingredients-title {
        margin-bottom: 50px;
        max-width: 411px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 24px;
        line-height: 117%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;

    }

    .ingredients-title-item {
        margin-bottom: 50px;
        width: 486px;
        height: 56px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 24px;
        line-height: 117%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;

    }

    .ingredients-list-item {
        width: 336px;
        height: 270px;

    }
}

@media screen and (min-width: 768px) {
    .ingredients-list {
        min-width: 704px;
        margin: 0 32px;
        column-gap: 32px;
        row-gap: 32px;
    }
}

@media screen and (min-width: 1200px) {

    .ingredients-list-item:nth-child(4n+1) {
        width: 260px;
        height: 270px;
    }

    .ingredients-list-item:nth-child(2) {
        width: 260px;
        height: 270px;
    }

    .ingredients-list-item:nth-child(4n+3) {
        width: 260px;
        height: 270px;
    }

    .ingredients-list-item:nth-child(6) {
        width: 260px;
        height: 270px;
    }

    .ingredients-title {
        max-width: 412px;
        margin-bottom: 50px;



    }
}



/* section media*/

.media-picture {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.media-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.media-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .media-picture {
        width: 100%;
        height: 400px;
    }
}

@media screen and (min-width: 1200px) {
    .media-picture {
        display: flex;
        width: 100%;
        height: 400px;
        flex-shrink: 0;
    }
}

.made-picture-svg {
    position: absolute;
    fill: transparent;
    stroke: var(--cards);
    cursor: pointer;
    transition: transform .5s cubic-bezier(.4, 0, .2, 1);
}

.media-content-wrapper {
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.media-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main);
}

.made-span-title {
    color: var(--accent);
}

.media-picture {
    margin-bottom: 20px;
}

.made-texst {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: var(--main);

}

.media-list {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--main);
    margin-top: 20px;
}

.media-list {
    list-style-type: disc;
    /* Устанавливает маркеры (точки) для списка */
    /* Убираем отступы для списка по умолчанию */
    padding-left: 20px;
    /* Отступ для маркеров */
}

.media-list-item {
    margin-bottom: 18px;
    /* Отступ между элементами списка */
}

.media-list-item:last-child {
    margin-bottom: 0;
    /* Убираем отступ для последнего элемента */
}

@media screen and (min-width: 768px) {
    .media-content-wrapper {
        margin-bottom: 50px;
    }
}

.made-texst {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    width: 335px;
    background-color: #ffffff;
}

.media-list {
    margin-bottom: 28px;
}

.text-wrapper {
    margin: 32px;
}



@media screen and (min-width: 1200px) {
    .media-text-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: row;
    }

    .ingredients-item-wrapper {
        position: relative;
        width: 100%;
        height: 270px;
        transform-style: preserve-3d;
        transition: transform 1s;
    }

    .made-texst {
        width: 516px;
        height: 400px;
    }
}

.overlay-text {
    transform: rotateY(180deg);
}

.ingredients-item-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.ingredients-item-wrapper.flipped {
    transform: rotateY(180deg);
}

.arrow-back {
    color: var(--accent);
    width: 24px;
    height: 24px;
    top: 14px;
    left: 14px;
    display: flex;
    cursor: pointer;
    fill: transparent;
    stroke: var(--accent);
    position: absolute;
    transform: rotateY(180deg);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FCF1E0;
    color: #111;
    padding: 20px;
    opacity: 1;
    visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-radius: 15px;
    border: 1px solid var(--accent);

}

.ingredients-item-wrapper.flipped .card-back {
    background-color: #FCF1E0;
    border: 1px solid var(--accent);
    /* Задайте нужный цвет */
}

.ingredients-item-wrapper.flipped .overlay {
    opacity: 1;
    visibility: visible;
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Скрыть обратную сторону при повороте */
}

.overlay-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--main);
}

/*products-section*/



.products-section {
    margin-top: 80px;
}

.section-title {
    text-align: center;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main);
}

.products-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.product-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--main);
}

.product-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
    .products-list {

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    @media screen and (min-width: 768px) {
        .product-item {
            width: calc((100% - 32px) / 2);
        }
    }
}

@media screen and (min-width: 1200px) {
    .products-list {
        column-gap: 18px;
        row-gap: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 32px;



    }

    .product-item {
        width: calc((100% - 3 * 32px) / 4);
        /* Вычисляем ширину для 4 карточек в ряду */
    }
}

.product-card {
    padding-bottom: 32px;
    /* Добавляем пространство снизу для кнопки */
}

.product-card {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--cards);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

}

.product-price-button {
    border: 1px solid rgba(17, 17, 17, 0.1);
    white-space: nowrap;
    border-radius: 100px;
    padding: 8px 20px;
    width: 94px;
    height: 33px;
    background-color: #FAFAFA;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: var(--main);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.product-price-button:hover {
    background-color: rgba(17, 17, 17, 0.1);
    color: #000;
}

product-image {

    margin-bottom: 8px;
}

.production-span {
    color: var(--accent);
}

@media screen and (min-width: 768px) {
    .products-section {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .products-section {
        margin-top: 120px;
    }
}

.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Плавный переход для движения и теней */
    will-change: transform;
    /* Оптимизация производительности */
}

.product-card:hover {
    transform: translateY(-10px);
    /* Поднимаем карточку вверх */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Добавляем тень для большего объема */
}



/*  TOP SELLERS*/







.top-sellers {
    margin-top: 80px;
    width: 100%;
    height: 592px;

}

@media screen and (min-width: 768px) {
    .top-sellers {
        width: 100%;
        height: 622px;
    }
}

@media screen and (min-width: 1200px) {
    .top-sellers {
        width: 100%;
        height: 622px;
    }
}

.cards-sellers {
    width: 100%;
    height: 100%;
}

.card-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-sellers-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main);
    margin-bottom: 32px;
}

.sellers-span {
    color: var(--accent);
}

@media screen and (min-width: 768px) {
    .top-sellers {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .top-sellers {

        margin-top: 120px;
    }
}

.top-sellers-title {
    margin-bottom: 32px;
    text-align: center;
}

/* Список карточек */
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}



/* Карточка */
.card-setts {
    position: relative;
    overflow: hidden;
    background-color: var(--cards);
    text-align: center;
    padding-bottom: 16px;
}

/* Фото карточки */
.product-image-card {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px 15px 0 0;
    /* Скругление только верхних углов */
}

/* Заголовок карточки */
.card-title {
    margin: 0;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cards);
    width: 100%;

    border-radius: 0 0 15px 15px;
    height: 72px;
    /* Скругление только нижних углов */
}

/* Скрыть карточки по умолчанию */
.card-item {
    display: none;
}

/* На десктопах показываем все карточки */
@media (min-width: 1200px) {
    .card-item {
        display: block;
    }
}

/* На планшетах показываем только первые две карточки */
@media (min-width: 768px) and (max-width: 1199px) {
    .card-item:nth-child(-n+2) {
        display: block;
    }
}

/* На мобильных показываем только первую карточку */
@media (max-width: 767px) {
    .card-item:nth-child(1) {
        display: block;
    }
}

/* Контейнер карточки */


/* Оверлей */
.card-description-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 344px;
    height: 464px;
    background: linear-gradient(161deg, rgba(253, 253, 255, 0.1) 0%, rgba(8, 2, 21, 0.1) 100%);
    /* Градиент */
    backdrop-filter: blur(15px);
    /* Блюр фона */
    opacity: 0;
    /* Скрыт по умолчанию */
    transform: translateY(100%);
    /* Оверлей скрыт за пределами карточки */
    transition: opacity 0.3s ease, transform 1.0s ease-in-out;
    /* Плавное появление и сдвиг */
    color: var(--cards);
    padding: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--cards);
    padding-top: 187px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;

}

card-setts:hover .card-description-overlay {
    opacity: 1;
    transform: translateY(0);
}

.product-image-card:hover+.card-description-overlay {
    opacity: 1;
    transform: translateY(0);
}

.card-setts:hover .product-image {
    filter: blur(4px);
}

.product-image-card {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Стили для карточки */
.card-item {
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 344px;
    height: 544px;
    background: var(--cards);
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}


/*REVIEWS*/

.section-reviews {
    margin-top: 80px;

}

.reviews-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sellers-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main);
}

.sellers-span-s {
    color: var(--accent);
}


.leave-review-btn {
    border: 1px solid var(--accent);
    border-radius: 100px;
    padding: 12px 28px;
    width: 165px;
    height: 41px;
    font-family: var(--font-family);
    cursor: pointer;
    white-space: nowrap;
    display: block;
    /* Чтобы кнопка стала блочным элементом */
    margin: 32px auto 0;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    background: var(--cards);
    color: var(--main);
    transition: background 0.3s ease, color 0.3s ease;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
    background: var(--accent);
    /* Оранжевый фон при ховере или фокусе */
    color: var(--cards);
    /* Белый текст */
    outline: none;
}


/* Для планшета: показывать только 2 карточки */
@media (max-width: 1200px) {
    .reviews-list-item:nth-child(n + 3) {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .section-reviews {
        margin-top: 120px;
    }

    .reviews-list {
        gap: 24px;
    }
}

/* Для мобильных устройств: показывать только 1 карточку */
@media (max-width: 768px) {
    .reviews-list-item:nth-child(n + 2) {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .section-reviews {
        margin-top: 100px;
    }

    .reviews-list-item {}

    .reviews-list {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        gap: 16px;


    }
}

.reviews-list-item {
    border: 1px solid rgba(17, 17, 17, .1);
    border-radius: 15px;
    width: 100%;
    height: 200px;
    box-shadow: 0 9px 100px #11111108;
    background: var(--cards);

}

.reviews-text {
    font-size: 14px;
    color: var(--main);
    align-items: center;
    text-align: center;
    font-weight: 400;
    line-height: 129%;
    letter-spacing: -.02em;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    color: rgba(17, 17, 17, 0.7);
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 42px;

}

.reviews-subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: var(--main);
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 18px;


}

.reviews-img {
    width: 80px;
    /* Установим размер фото */
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-40px);
    border-radius: 100%;
    margin-bottom: -22px;


}

.sellers-title {
    margin-bottom: 74px;
}



/* footer*/

.footer {
    margin-top: 80px;
    background-color: #1E1823;
}

.footer-title-span {
    color: var(--cards);
}

.footer-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--accent);
    margin-top: 32px;
    text-align: left;
    margin-bottom: 32px;
    max-width: 300px;
}

.footer-submit-btn:focus,
.footer-submit-btn:hover,
.footer-submit-btn.clicked {
    background-color: #FCF1E0;
    color: var(--main);

    border: 1px solid var(--accent);
    border-radius: 100px;
}

.footer-contacts-title,
.footer-contacts-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: left;
    color: var(--cards);

    margin-bottom: 14px;
}

.footer-socials-title {
    margin-top: 32px;
    margin-bottom: 14px;
}

.footer-socials-link {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
    color: var(--cards);
    align-items: center;
    cursor: pointer;
    display: block;
}

.footer-socials-icon {
    fill: var(--cards);
    transition: fill 0.3s;
}

.footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
    fill: var(--accent);

}

.footer-socials-list {
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin-bottom: 32px;
}

footer-contacts {
    margin-bottom: 32px;
}

.footer-line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 335px;
    height: 0px;
    transform: rotate(-180deg);
    margin-bottom: 32px;
    margin-top: 32px;
}

.footer-nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--cards);
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 32px;
}

.footer-form {
    margin-bottom: 32px;
}

.footer-input {
    width: 207px;
    height: auto;
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 14px 18px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
    background-color: #1E1823;
}

.footer-submit-btn {
    border-radius: 100px;
    padding: 14px 26px;
    width: 120px;
    height: auto;
    background: var(--accent);
    color: var(--cards);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

}

.footer-socials-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: left;
    color: var(--cards);
}


@media screen and (min-width: 768px) {
    .footer-line {
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 704px;
        height: 0px;
    }

    .footer-title {
        font-size: 28px;
        line-height: 121%;
        letter-spacing: -0.02em;
    }

    .footer-title-wrap {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .footer-input {
        width: 232px;
    }

    .footer-contacts {
        margin-left: auto;
        list-style: none;
        margin-top: 32px;
    }

    .footer-nav-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        align-items: center;
    }

    .footer-submit-btn {
        width: 127px;
    }

    .footer-form {
        gap: 8px;
    }

}

@media screen and (min-width: 1200px) {
    .footer-line {
        width: 1136px;
    }

    .footer-title-wrap {
        display: flex;
        width: 100%;
        position: relative;
    }

    .footer-title {
        position: absolute;
        left: 0;
    }

    .footer-socials {
        margin-left: 350px;
    }

    .footer-contacts {
        position: absolute;
        right: 0;
    }


    .footer-input {
        width: 313px;
    }

    .footer-submit-btn {
        width: 137px;
    }
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-nav-link:active {
    color: var(--accent);
    /* Цвет текста при наведении, фокусе и клике */
}

html {
    scroll-behavior: smooth;
}

/*  MODAL-REVIEWS */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Добавляем затемнённый фон */
    opacity: 0;
    z-index: 9999;
    transition: visibility 0.3s, opacity 0.3s;
}

.backdrop.is-open {
    display: flex; /* Показываем модалку */
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #FAFAFA; /* Убираем дублирование и задаём цвет */
    padding: 20px;
    width: 311px;
    height: 622px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 13px 18px 60px 18px;

}
/* Отступы между полями ввода */
.form-group {
    margin-bottom: 14px; /* Добавляем отступ между каждым полем ввода */
}

.modal-title {
    margin: 32px 32px 32px 24px; 
    width: 255px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.name-label,
.email-label,
.phone-label,
.comment-label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.modal-close {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.batton-close-svg {
    fill: transparent;
    stroke-width: 2px;
    stroke: var(--main);
}
.modal-title-span {
    color: var(--accent);
}

    .input-wrapper {
        position: relative; 
        width: 100%; 
    }
    
    .input-icon {
        position: absolute;
        top: 50%;
        left: 18px;
        transform: translateY(-50%); 
        pointer-events: none;
        stroke-width: 1px;
        stroke: #404040;
        stroke-width: 1.50px;
        fill: none;
    }
    
    .input-name,
    .input-email,
    .input-phone-number,
    textarea {
        width: 100%; 
        padding-left: 43px; /* Увеличиваем отступ слева, чтобы текст не перекрывал иконку */
        font-family: var(--font-family);
        font-size: 14px;
        font-weight: 400;
        color: #404040;
        border: 1px solid rgba(64, 64, 64, 0.2); /* Стили для рамки */
        border-radius: 4px; /* Скругление углов */
        outline: none; /* Убираем обводку */
        height: 40px; /* Высота поля ввода */
        box-sizing: border-box; /* Учитываем отступы в общей ширине */
    }
    
    textarea {
        height: 91px; 
        resize: none;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        letter-spacing: -0.02em;
        color: rgba(64, 64, 64, 0.3);
        text-indent: -36px;
        padding-top: 8px;
       
    }
/* Активное (в фокусе) поле ввода */
.input-wrapper input:focus,
.input-wrapper textarea:focus {
    border-color: var(--accent); /* Задаём оранжевый цвет рамки */
    outline: none; /* Убираем стандартный outline */
}

/* Изменение цвета иконки при активном поле */
.input-wrapper input:focus + .input-icon,
.input-wrapper textarea:focus + .input-icon {
    stroke: var(--accent); /* Меняем цвет обводки иконки */
}

/* Для textarea: добавляем плавный переход (если нужно) */
textarea {
    transition: border-color 0.3s ease;
}
/* Стилизация блока с чекбоксом и текстом */
.checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: center; /* Центрируем текст и чекбокс по вертикали */
    gap: 12px; /* Отступ между чекбоксом и текстом */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    
    
}

/* Для текста с ссылкой "Privacy Policy" */
.checkbox-group label {
   /* Цвет текста */
    cursor: pointer; /* Чтобы текст выглядел кликабельным */
    /* Плавное изменение цвета при ховере */
}

/* Стили для активного состояния, например, при ховере */
checkbox-group label:hover {
    color: var(--accent); /* Подсветка цвета при наведении */
}

/* Чекбокс */
.checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 6px;
    stroke: none;
    outline: none;
    border: none;
    border: 1px solid rgba(64, 64, 64, 0.3);}
    
.send-btn {
    
     border-radius: 100px; /* Скругленные углы */
    padding: 12px 28px; /* Отступы внутри кнопки */
    width: 93px; /* Ширина */
    height: 41px; /* Высота */
    font-family: var(--font-family); /* Шрифт */
    font-weight: 600; /* Жирность шрифта */
    font-size: 14px; /* Размер шрифта */
     color: var(--cards); /* Цвет текста */
    position: absolute; /* Чтобы задавать положение */
    left: 24px; /* Отступ от левого края */
    bottom: 32px; /* Отступ снизу */
    background-color: var(--accent);
    outline: none;
    border: none;
}
        
     