.container {
    min-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;


    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    justify-content: center;

}

main {
    flex-grow: 1;
}

body {
    font-family: var(--font-family);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.modal-nav-soc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100%;
    align-items: center;
    padding-top: 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

logo-icon {
    margin-bottom: -6px;
    width: 21px;
    height: 21px;
    margin-right: 4px;
}

.icon-menu {
    stroke-width: 2px;
    stroke: #111;
}

.logo-icon {
    fill: #fcf1e0;
    stroke-width: 1.8px;
    stroke: #fd9222;
}

.logo-wrap {
    display: flex;
    align-items: center;
}

.header {
    padding-top: 20px;
    padding-bottom: 14px;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .burger-icon {
    stroke-width: 2px;
    stroke: #111;


}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;


    }

}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;

    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .logo-icon {
        margin-bottom: -6px;
        width: 21px;
        height: 21px;
        margin-right: 4px;

    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


:root {
    --text-decoration: none;
    --font-family: "Montserrat",
        sans-serif;

    --main: #111111;
    --accent: #FD9222;
    --background: #FAFAFA;
    --cards: #ffffff;
    --violet: #1E1823;

    -font-synthesis: none;
    -text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.logo-icon {
    stroke-width: 2px;
    stroke: var(--accent);
    fill: transparent;

}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;

    }

    .logo-icon {
        margin-left: 4px;
        width: 24px;
        height: 24px;

    }
}

.logo_simply {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.03em;
    color: var(--black);
    text-decoration: none;
}

.logo_chocolate {
    font-family: var(--font-family);
    font-style: normal;
    text-decoration: none;
}

.logo_simply,
.logo_chocolate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_simply,
.logo_chocolate {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    align-items: center;
}

.soc_nets {
    display: none;
}

.nav-list {
    display: none;
}

.burger-icon {
    width: 24px;
    height: 16px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    stroke: var(--main);
    margin-left: auto;
    justify-content: center;

}

.header-button-svg {
    stroke-width: 2px;
    stroke: #111;
}

.navi-link-menu:hover,
.navi-link-menu:focus {
    color: var(--accent);

}

.soc_nets_link:hover,
.soc_nets_link:focus {
    color: var(--accent);
    transition: color 0.3s;
    border: 1px solid rgba(253, 146, 34, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.soc_nets_link:hover .net_icon,
.soc_nets_link:focus .net_icon {
    fill: var(--accent);

}

.net_icon {
    fill: var(--main);
    transition: fill 0.3s;
}

/* Stills for tablet */
@media only screen and (min-width: 768px) {
    .header-nav-soc-wrap {
        display: flex;
        align-items: center;
        gap: 28px;
    }

    .logo-icon {
        margin-bottom: -2px;
        margin-left: 4px;
    }

    .navigation {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-list {
        display: flex;
        justify-content: flex-end;
        gap: 2px;
        margin-left: auto;
        margin-right: 28px;
    }

    .navi-link-menu {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.02em;
        color: var(--main);
        white-space: nowrap;
    }

    .soc_nets {
        margin-left: 28px;
    }

    .navi-link-menu {
        white-space: nowrap;
    }

    .logo_simply {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .header-button {
        display: none;
    }

    .nav-item {
        position: relative;
        list-style: none;
    }

    .soc_nets_item {
        position: relative;
        list-style: none;
    }

    .soc_nets {
        display: flex;
        margin: 0;
        justify-content: space-between;
        gap: 14px;
    }

    .soc_nets_link {
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .logo_simply {
        display: flex;
        align-items: center;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {

    .container {
        max-width: 1200px;
        width: 100%;
    }

    .logo-icon {
        margin-left: 4px;
        width: 24px;
        height: 24px;
        background-image: url('./images/icon-Vector-24.svg');
    }

    .navi-link-menu {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.02em;
        color: var(--main);
        transition: color 0.3s;
    }

    .nav-item {
        position: relative;
    }

    .nav-list {
        gap: 24px;
        margin-left: auto;
        margin-right: 90px;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
    }

    .header-button {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
    }
}

.navi-link-menu:hover,
.navi-link-menu:focus {
    color: var(--accent);

}

.soc_nets_link:hover,
.soc_nets_link:focus {
    color: var(--accent);
    transition: color 0.3s;
    border: 1px solid rgba(253, 146, 34, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.soc_nets_link:hover .net_icon,
.soc_nets_link:focus .net_icon {
    fill: var(--accent);

}

.net_icon {
    fill: var(--main);
    transition: fill 0.3s;
}

/* Modal*/
.mobile-menu {
    font-family: var(--font-family);
    position: fixed;
    background-color: var(--violet);
    max-width: 220px;
    min-height: 100vh;
    top: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms visibility (0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    display: block;

}

mobile-menu {
    display: none;

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

.mobile-container {
    padding: 136px 20px 20px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mobile-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    padding: 5px;
    background-color: transparent;
    border: none;
    margin-bottom: 88px;
}

.mobile-nav-wrap {
    margin-bottom: auto;
}

.mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;

}


.mobile-messengers-list {
    display: flex;
    gap: 14px;
}

mobile-messengers-button:hover .mobile-messengers-button-svg,
mobile-messengers-button:focus .mobile-messengers-button-svg {
    opacity: 1;
}

mobile-messengers-button-svg {
    fill: #FBFBFB;
    opacity: 0.8;
}

.mobile-navigation-links {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--cards);
    list-style: none;
    text-decoration: none;
    list-style-type: none;

    padding-left: 0;
    transition: color 0.3s ease;
}



.soc_nets_link-mod {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: transparent;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc_nets-mod {
    display: flex;
    margin: 0;
    justify-content: space-between;
    gap: 14px;

    margin-right: auto;
}

.net_icon-mod {
    fill: var(--cards);
    transition: fill 0.3s;
}

.mobile-navigation-links.active {
    color: var(--accent);
}

soc_nets_link-mod:hover,
soc_nets_link-mod:focus {
    color: var(--accent);
    transition: color 0.3s;
    border: 1px solid rgba(253, 146, 34, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

soc_nets_link-mod:hover .net_icon-mod,
soc_nets_link-mod:focus .net_icon-mod {
    fill: var(--accent);

}

/* Section first */

/* Мобильная версия */
.hero-content {
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
        url(../images/chocolate_main-1x-mob.webp);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 335px;
    box-sizing: border-box;
    border-radius: 30px;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 395px;

}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero-content {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-2x-mob.webp);
    }
}

.hero-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--cards);
    position: relative;
    margin-bottom: 32px;
    max-width: 291px;
    text-align: left;
}

.hero-content {
    display: flex;
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--cards);
    margin-bottom: 20px;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}


.hero-buttons {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 14px;
    margin-bottom: 32px;

}

.btn-primary {
    background-color: var(--accent);
    color: var(--cards);
    border-radius: 100px;
    padding: 12px 28px;
    width: 120px;
    height: 41px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-secondary {
    background-color: transparent;
    display: flex;
    color: var(--cards);
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px 28px;
    width: 159px;
    height: 41px;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #fcf1e0;
    color: var(--accent);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #fcf1e0;
    color: var(--accent);
}

.hero-link-sellers {
    display: none;
}

.hero-link-scroll {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--cards);
    display: flex;
    align-items: center;
    gap: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-scroll:hover,
.hero-link-scroll:focus {
    color: var(--accent);
}

.hero-link-scroll:hover .scroll-round,
.hero-link-scroll:focus .scroll-round {
    background-color: var(--accent);
}

.hero-link-scroll:hover,
.hero-link-scroll:focus {
    fill: var(--accent);
}

.icon-scroll:hover,
.icon-scroll:focus {
    fill: var(--cards)
}

.scroll-round {
    display: inline-block;
    padding: 6px;
    background-color: #fff;
    border-radius: 50px;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-scroll {
    fill: #fd9222;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .hero {
        padding-bottom: 40px;
    }

    .hero-content {
        max-width: 704px;
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-1x-tab.webp);
        padding-top: 671px;
        padding-bottom: 40px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero-container {
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-2x-tab.webp);
    }
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 28px;
        max-width: 484px;
    }

    .hero-link-scroll:last-child {
        display: flex;
        white-space: nowrap;
        margin-left: 153px;
        justify-content: flex-end;
    }

    .hero-btn-link-wrap {
        display: flex;
        justify-content: space-between;
    }

    .hero-buttons {
        justify-content: start;
        margin-bottom: 0;
    }

    .btn-primary {
        width: 144px;
        height: 45px;
    }

    .btn-secondary {
        width: 183px;
        height: 45px;
    }

    .hero-link-scroll {
        font-size: 14px;
        line-height: 1.29;

    }

    .scroll-round {
        display: inline-block;
        padding: 8px;
        width: 38px;
        height: 38px;
    }

    .icon-scroll {
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero-link-scroll:last-child {
        display: flex;
        white-space: nowrap;
        margin-left: 388px;
        justify-content: flex-end;
    }


    .hero-content {
        max-width: 1136px;
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-1x-desk.webp);
        padding-top: 381px;
        padding-bottom: 40px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero-content {
        background-image: linear-gradient(to bottom,
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-1x-desk.webp);
    }
}

@media screen and (min-width: 1200px) {
    .hero-link-sellers {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 100px;
        font-weight: 600;
        font-size: 14px;
        width: 183px;
        height: 45px;
        color: var(--cards);
        box-sizing: border-box;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-link-sellers:hover,
    .hero-link-sellers:focus {
        background-color: #fcf1e0;
        color: var(--accent);
    }
}

/* 2 Sektion*/
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 38px 0;
}

.about-us-wrapper {
    padding: 20px;
}

.skills-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--cards);
}

.section-second {
    background: var(--violet);
    max-width: 100%;
}

.skills-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
    color: var(--cards);
    margin-bottom: 20px;
}

.icon-bg {
    fill: var(--accent);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 62px;
    height: 62px;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    display: flex;
}


.skills-title {
    margin-bottom: 18px;
}

.skills-text {
    margin-bottom: 20px;
}

.skills-list-item {
    margin-bottom: 20px;
    justify-content: space-between;
}


@media screen and (min-width: 767px) {
    .about-us-wrapper {
        padding: 32px;
    }

    .skills-list-item {
        width: calc((100% - 88px) / 2);
    }

    .skills-list {

        flex-direction: row;
    }

    .skills-list-item:nth-child(1) {
        margin-right: 88px;
    }
}

@media screen and (min-width: 1200px) {
    .about-us-wrapper {
        padding: 50px;
    }

    .skills-list {
        display: flex;
        flex-direction: row;
    }

    .skills-list-item {
        max-width: calc((100% - 88px * 2) / 3);
    }

    .skills-text {
        line-height: 129%;
    }
}

@media screen and (min-width: 1200px) {
    .benefits-line {
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 0px;
        height: 124px;
        margin-top: 60px;
    }

    .skills-list {
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        justify-content: space-between;

    }

    .skills-list-item:nth-child(1) {
        margin-right: 0;
    }
}

/*ingredients*/
.ingredients {
    font-family: var(--font-family);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ingredients-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main);
    max-width: 283px;
    margin-bottom: 32px;
   
}
@media screen and (min-width: 768px) {
    .ingredients {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.ingredients-title-item{
    color: var(--accent);
}

.ingredients-list-item {
    position: relative;

}

.ingredients-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 335px;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.arrow {
    width: 24px;
    height: 24px;
    top: 14px;
    right: 14px;
    display: flex;
}

.ingredients-list-item:nth-child(4n+1) {
    background-color: var(--accent);
    border-radius: 15px;
    position: relative;
    width: 335px;
    height: 270px;
   
}

/* Скрытие лишних карточек на мобильной версии */
@media (max-width: 767px) {
    .ingredients-list-item:nth-child(n+5) {
        display: none;

    }
}

@media (max-width: 767px) {
    .ingredients-list-item:nth-child(n+5) .arrow {
        display: none;

    }
}

@media (max-width: 767px) {
    .ingredients-list-item:nth-child(n+5) .ingredients-photo {
        display: none;

    }
}

.ingredients-list-item:nth-child(4n+1) .arrow {
    fill: transparent;
    stroke: var(--cards);
    position: absolute;
    top: 14px;
    right: 14px;

}

.picture-descr {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--cards);
    position: absolute;
    bottom: 28px;
    margin: 0;
    text-align: left;
}

/* Вторая карточка - белый фон */
.ingredients-list-item:nth-child(2),
.ingredients-list-item:nth-child(4) {
    background-color: var(--cards);
    border: 1px solid var(--accent);
    border-radius: 15px;
    width: 335px;
    height: 270px;
}

.ingredients-list-item:nth-child(2) .picture-descr,
.ingredients-list-item:nth-child(4) .picture-descr {
    color: var(--main);
    /* Черный цвет текста */
}

/* Стрелка на второй и четвертой карточке - оранжевая */
.ingredients-list-item:nth-child(2) .arrow,
.ingredients-list-item:nth-child(4) .arrow {
    fill: transparent;
    stroke: var(--accent);
    position: absolute;
    top: 14px;
    right: 14px;
}

.ingredients-list-item:nth-child(4n+3) .arrow {
    fill: transparent;
    stroke: var(--cards);
    position: absolute;
    top: 14px;
    right: 14px;
}

.ingredients-list-item:nth-child(4n+3) {
    background: var(--violet);
    border-radius: 15px;
    position: relative;
    border-radius: 15px;
    width: 335px;
    height: 270px;
}
  
ingredients-photo {
    padding: 32px 49px 62px 50px;
}

.ingredients-photo img {
    display: block;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 16px;
}

.picture-descr {
    padding-left: 28px;
}

@media screen and (min-width: 1200px) {
    .ingredients-list {
        width: calc((100% - 96px) / 4);
    }
}

@media screen and (min-width: 768px) {
    .ingredients-list-item:nth-child(4n+3) {
       
        flex-wrap: wrap;
        flex-direction: row;
        gap: 32px;
    }

    .ingredients-list-item:nth-child(6) {
        /* Стили для 6-й карточки */
        background-color: var(--cards);
        border: 1px solid var(--accent);
        border-radius: 15px;
        position: relative;
        width: 335px;
        height: 270px;
    }

    .ingredients-list-item:nth-child(6) .arrow {
        fill: transparent;
        stroke: var(--accent);
        position: absolute;
        top: 14px;
        right: 14px;
    }

    .ingredients-list-item:nth-child(6) .picture-descr {
        color: var(--main);
        /* Черный цвет текста */
    }

    .ingredients-list-item:nth-child(4n+1) .ingredients-photo {
        padding: 32px 50px 62px 50px;
        /* Отступы сверху, справа, снизу, слева */
    }
}

/* 4 cad */
@media screen and (min-width: 1200px) {
    .ingredients-list-item:nth-child(4) {
        background-color: var(--cards);
        border: 1px solid var(--accent);
        border-radius: 15px;
        position: relative;
        width: 260px;
        height: 270px;
    }
}

@media screen and (min-width: 1200px) {
    .ingredients-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 24px;
        width: 1136px;

    }
}


@media screen and (min-width: 768px) {
    .ingredients-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
}

@media screen and (min-width: 768px) {
    .ingredients-title{
        margin-bottom: 50px;
        max-width: 411px;
        font-family: var(--font-family);
       font-weight: 600;
       font-size: 24px;
       line-height: 117%;
       letter-spacing: -0.03em;
        text-transform: uppercase;
       text-align: center;

    }
    .ingredients-title-item {
        margin-bottom: 50px;
        width: 486px;
        height: 56px;
        font-family: var(--font-family);
       font-weight: 600;
       font-size: 24px;
       line-height: 117%;
       letter-spacing: -0.03em;
        text-transform: uppercase;
       text-align: center;
  
    }
    .ingredients-list-item {
        width: 336px;
        height: 270px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .ingredients-list  {
        min-width: 704px;
        margin: 0 32px;
        column-gap: 32px;
        row-gap: 32px;
    }
}
@media screen and (min-width: 1200px) {
   
    .ingredients-list-item:nth-child(4n+1){
      width: 260px;
      height: 270px;
    }
    .ingredients-list-item:nth-child(2){
        width: 260px;
        height: 270px; 
    }
    .ingredients-list-item:nth-child(4n+3){
        width: 260px;
        height: 270px;   
    }
    .ingredients-list-item:nth-child(6){
        width: 260px;
        height: 270px; 
    }
    .ingredients-title {
        max-width: 412px;
        margin-bottom: 50px;

        

    }
}
