.container {
    min-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;


    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    justify-content: center;

}

main {
    flex-grow: 1;
}

body {
    font-family: var(--font-family);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.modal-nav-soc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    min-height: 100%;
    align-items: center;
    padding-top: 20px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

logo-icon {
    margin-bottom: -6px;
    width: 21px;
    height: 21px;
    margin-right: 4px;
}
.icon-menu {
    stroke-width: 2px;
    stroke: #111;
  }
.logo-icon {
    fill: #fcf1e0;
    stroke-width: 1.8px;
    stroke: #fd9222;
  }

.logo-wrap {
    display: flex;
    align-items: center;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 14px;
  }
  .header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.navigation .burger-icon {
    stroke-width: 2px;
    stroke: #111;
   
   
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;


    }

}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;

    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .logo-icon {
        margin-bottom: -6px;
        width: 21px;
        height: 21px;
        margin-right: 4px;

    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


:root {
    --text-decoration: none;
    --font-family: "Montserrat",
        sans-serif;

    --main: #111111;
    --accent: #FD9222;
    --background: #FAFAFA;
    --cards: #ffffff;

    -font-synthesis: none;
    -text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.logo-icon {
    stroke-width: 2px;
    stroke: var(--accent);
    fill: transparent;

}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;

    }

    .logo-icon {
        margin-left: 4px;
        width: 24px;
        height: 24px;

    }
}

.logo_simply {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.03em;
    color: var(--black);
    text-decoration: none;
}

.logo_chocolate {
    font-family: var(--font-family);
    font-style: normal;
    text-decoration: none;
}

.logo_simply,
.logo_chocolate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_simply,
.logo_chocolate {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    align-items: center;
}

.soc_nets {
    display: none;
}

.nav-list {
    display: none;
}

.header-button {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    stroke: var(--main);
    margin-left: auto;
    justify-content: center;

}

.header-button-svg {
    display: block;
    fill: var(--main);
}

.navi-link-menu:hover,
.navi-link-menu:focus {
    color: var(--accent);

}

.soc_nets_link:hover,
.soc_nets_link:focus {
    color: var(--accent);
    transition: color 0.3s;
    border: 1px solid rgba(253, 146, 34, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.soc_nets_link:hover .net_icon,
.soc_nets_link:focus .net_icon {
    fill: var(--accent);

}

.net_icon {
    fill: var(--main);
    transition: fill 0.3s;
}

/* Stills for tablet */
@media only screen and (min-width: 768px) {
    .header-nav-soc-wrap {
        display: flex;
        align-items: center;
        gap: 28px;
      }

    .logo-icon {
        margin-bottom: -2px;
        margin-left: 4px;
    }

    .navigation {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-list {
        display: flex;
        justify-content: flex-end;
        gap: 2px;
        margin-left: auto;
        margin-right: 28px;
    }

    .navi-link-menu {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.02em;
        color: var(--main);
        white-space: nowrap;
    }

    .soc_nets {
        margin-left: 28px;
    }

    .navi-link-menu {
        white-space: nowrap;
    }

    .logo_simply {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .header-button {
        display: none;
    }

    .nav-item {
        position: relative;
        list-style: none;
    }

    .soc_nets_item {
        position: relative;
        list-style: none;
    }

    .soc_nets {
        display: flex;
        margin: 0;
        justify-content: space-between;
        gap: 14px;
    }

    .soc_nets_link {
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .logo_simply {
        display: flex;
        align-items: center;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {

    .container {
        max-width: 1200px;
        width: 100%;
    }

    .logo-icon {
        margin-left: 4px;
        width: 24px;
        height: 24px;
        background-image: url('./images/icon-Vector-24.svg');
    }

    .navi-link-menu {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.02em;
        color: var(--main);
        transition: color 0.3s;
    }

    .nav-item {
        position: relative;
    }

    .nav-list {
        gap: 24px;
        margin-left: auto;
        margin-right: 90px;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
    }

    .header-button {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
    }
}

.navi-link-menu:hover,
.navi-link-menu:focus {
    color: var(--accent);

}

.soc_nets_link:hover,
.soc_nets_link:focus {
    color: var(--accent);
    transition: color 0.3s;
    border: 1px solid rgba(253, 146, 34, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.soc_nets_link:hover .net_icon,
.soc_nets_link:focus .net_icon {
    fill: var(--accent);

}

.net_icon {
    fill: var(--main);
    transition: fill 0.3s;
}

/* Modal*/
.mobile-menu {
    font-family: var(--font-family);
    position: fixed;
    background-color: #1E1823;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    display: block;
   
}

.mobile-menu {
    display: none;
   
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-container {
    padding: 136px 20px 20px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mobile-button {
    position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  padding: 5px;
  background-color: transparent;
  border: none;
  margin-bottom: 88px;
}

.mobile-nav-wrap {
    margin-bottom: auto;
}

.mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;

}


mobile-messengers-list {
    display: flex;
    gap: 14px;
}

mobile-messengers-button:hover .mobile-messengers-button-svg,
mobile-messengers-button:focus .mobile-messengers-button-svg {
    opacity: 1;
}

mobile-messengers-button-svg {
    fill: #FBFBFB;
    opacity: 0.8;
}

.mobile-navigation-links {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--cards);
    list-style: none;
    text-decoration: none;
    list-style-type: none;

    padding-left: 0;
    transition: color 0.3s ease;
}



.soc_nets_link-mod {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: transparent;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc_nets-mod {
    display: flex;
    margin: 0;
    justify-content: space-between;
    gap: 14px;

    margin-right: auto;
}

.net_icon-mod {
    fill: var(--cards);
    transition: fill 0.3s;
}

.mobile-navigation-links.active {
    color: var(--accent);
}

soc_nets_link-mod:hover,
soc_nets_link-mod:focus {
    color: var(--accent);
    transition: color 0.3s;
    border: 1px solid rgba(253, 146, 34, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

soc_nets_link-mod:hover .net_icon-mod,
soc_nets_link-mod:focus .net_icon-mod {
    fill: var(--accent);

}

/* Section first */

/* Мобильная версия */
.hero-content {
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
        url(../images/chocolate_main-1x-mob.webp);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 335px;
    box-sizing: border-box;
    border-radius: 30px;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 395px;

}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero-content {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main-2x-mob.webp);
    }
}

.hero-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--cards);
    position: relative;
    margin-bottom: 32px;
    max-width: 291px;
    text-align: left;
}

.hero-content {
    display: flex;
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--cards);
    margin-bottom: 20px;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}


.hero-buttons {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 14px;
    margin-bottom: 32px;

}

.btn-primary {
    background-color: var(--accent);
    color: var(--cards);
    border-radius: 100px;
    padding: 12px 28px;
    width: 120px;
    height: 41px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-secondary {
    background-color: transparent;
    display: flex;
    color: var(--cards);
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px 28px;
    width: 159px;
    height: 41px;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #fcf1e0;
    color: var(--accent);
}
.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #fcf1e0;
    color: var(--accent);}

.hero-link-sellers {
    display: none;
  }
.hero-link-scroll {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--cards);
    display: flex;
    align-items: center;
    gap: 12px;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-link-scroll:hover,
    .hero-link-scroll:focus {
        color: var(--accent);
    }

    .hero-link-scroll:hover .scroll-round, 
    .hero-link-scroll:focus .scroll-round {
      background-color: var(--accent);
    }
    
    .hero-link-scroll:hover , 
    .hero-link-scroll:focus  {
      fill: var(--accent);
    }
    .icon-scroll:hover,
    .icon-scroll:focus {
        fill: var(--cards)
    }
    .scroll-round {
      display: inline-block;
      padding: 6px;
      background-color: #fff;
      border-radius: 50px;
      width: 28px;
      height: 28px;
      box-sizing: border-box;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .icon-scroll {
      fill: #fd9222;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    @media screen and (min-width: 768px) {
        .hero {
          padding-bottom: 40px;
        }
      
        .hero-content {
          max-width: 704px;
          background-image: linear-gradient(
              to bottom,
              rgba(17, 17, 17, 0.4),
              rgba(17, 17, 17, 0.4)
            ),
            url(../images/chocolate_main-1x-tab.webp);
          padding-top: 671px;
          padding-bottom: 40px;
        }}

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .hero-container {
          background-image: linear-gradient(
              to bottom,
              rgba(17, 17, 17, 0.4),
              rgba(17, 17, 17, 0.4)
            ),
            url(../images/chocolate_main-2x-tab.webp);
        }
      }   

 @media screen and (min-width: 768px) {     
  .hero-title {
    font-size: 28px;
    max-width: 484px;
  }
  .hero-link-scroll:last-child { 
    display: flex;
    white-space: nowrap;
    margin-left: 153px;
    justify-content: flex-end;
  }
  .hero-btn-link-wrap {
    display: flex;
    justify-content: space-between;
  }
  .hero-buttons {
    justify-content: start;
    margin-bottom: 0;
  }

  .btn-primary{
    width: 144px;
    height: 45px;
  }

  .btn-secondary{
    width: 183px;
    height: 45px;
  }

  .hero-link-scroll {
    font-size: 14px;
    line-height: 1.29;
    
  }
 
  .scroll-round {
    display: inline-block;
    padding: 8px;
    width: 38px;
    height: 38px;
  }

  .icon-scroll {
    width: 22px;
    height: 22px;
  }
}
@media screen and (min-width: 1200px) {
    .hero {
      padding-bottom: 80px;
    }
    .hero-link-scroll:last-child { 
        display: flex;
        white-space: nowrap;
        margin-left: 388px;
        justify-content: flex-end;
      }

    
    .hero-content {
      max-width: 1136px;
      background-image: linear-gradient(
          to bottom,
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/chocolate_main-1x-desk.webp);
      padding-top: 381px;
      padding-bottom: 40px;
    }
}
  
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
      .hero-content {
        background-image: linear-gradient(
            to bottom,
            rgba(17, 17, 17, 0.4),
            rgba(17, 17, 17, 0.4)
          ),
          url(../images/chocolate_main-1x-desk.webp);
      }
    }
    @media screen and (min-width: 1200px){
    .hero-link-sellers{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
      border-radius: 100px;
      font-weight: 600;
      font-size: 14px;
      width: 183px;
      height: 45px;
      color: var(--cards);
      box-sizing: border-box;
       transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .hero-link-sellers:hover,
    .hero-link-sellers:focus {
        background-color: #fcf1e0;
        color: var(--accent);
    }
}